body {
    margin: 0;
  }

/*.container {
    height: 100vh;
    width: 100vw;
    background-color: lightblue;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }*/

  /*.container2 {
    height: 100vh;
    width: 100vw;
    background-color:#255F7A;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }*/

  
  .box1 {
    height: 100vh;
    width: 300vh;
  }
  
  .box2 {
    height: 100%;
    width:300px;
    position:absolute;
    position:fixed;
    left:0;
  }

  .box3 {
    height: 200vh;
    width:200vhh;
    color: white;
  
  }

  
  .leftcolumn {
    background-color:#33E9F0;
  }
  /*.section1{
    background-color: purple;
    margin:0;
  }*/
  
  .section2{
    background-color:#00A5E0;
    
  }
  .section3{
    background-color:#4B68FB;
    
  }
  .section4{
    background-color:#0048AD;
    
  }