body {
  margin: 0;
}

.container {
  height: 100vh;
  width: 100vw;
  background-color: lightblue;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.box {
  height: 200px;
  width: 200px;
  margin: 10px;
}

.red {
  background-color: #80D1F7
  
}

.blue {
  background-color:#36B7F5;
}
.yellow {
  background-color: #1A5875;
}
.green {
  background-color:#3D6375;
}
.pink {
  background-color:#2B92C2;
}