nav{
  background-image:url("image/bluewood.jpg");
  width:960vw;
  
}


/* styles for navigation bar*/
.nav-link{

    border: solid black 5px;
    margin:10px;
    left:250px;
    border-radius:15px;
position:relative;
    width:450px;
    height:100px;
    background-color:#05ABED;

    text-align: center;
    padding:10px;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
    border-radius: 15px;   
    display: inline-block;
}

.background{
  background-color:white;
  padding-left:30px;
}

.background2{
  background-color:lightblue;
  font-size:50px;
  padding-left:100px;
  width:100vw;
  border-radius: 15px;
  border:solid black 10px;
  margin:10px;
  animation-name:bkgrnd2;
  animation-duration:15s;
}

.background3{
  background-color:#77CCEE;
  font-size:30px;
  padding-left:100px;
  width:100vw;
  border-radius: 15px;
  border:solid black 10px;
  margin:10px;
  animation-name:bkgrnd3;
  animation-duration:15s;
  
}
.background4{
  background-color:#80D7EB;
  font-size:30px;
  padding-left:100px;
  width:100vw;
  border-radius: 15px;
  border:solid black 10px;
  margin:10px;
  animation-name:bkgrnd4;
  animation-duration:15s;
}
@keyframes bkgrnd2{

  0%   {background-color:lightblue;}
  25%  {background-color: #52CFE7;}
  50%  {background-color: lightgray;}
  100% {background-color:lightpink;}
}

@keyframes bkgrnd3{
  0%   {background-color:#77CCEE;}
  25%  {background-color: #52CFE7;}
  50%  {background-color: lightgray;}
  100% {background-color:lightpink;}
}

@keyframes bkgrnd4{
  0%   {background-color:#80D7EB;}
  25%  {background-color: #52CFE7;}
  50%  {background-color: blue;}
  100% {background-color: lightpink;}
}




.round{
    border-radius: 15px;
    background-color:white;
    border:solid black 10px;
    width:250px;
    height:400px;
    padding:10px;
    margin:10px;
    left:150px;

}
/* video style for "About Me" page*/
video {
    width:960vw;
    
   }
/*section for about me box*/
   
   
/* Contact portion on About me*/
   #contact{
    height:40vh;
    width:100vw;
    background-color:lightblue;
    padding-left:100px;
    font-size:100px;
    font-family: 'Open Sans Condensed', sans-serif;
    
  
  }
/* social media icon box*/
  #socialmedia{

    height:10vh;
    width:20vw;
    background-color:lightblue;
    position:absolute;
    left:0;
    bottom:0;
    font-size:40px;
    font-family: 'Open Sans Condensed', sans-serif;
    
  }

  .a:link {
    color:black;
    
    opacity: 0.5;
  }

  .a:hover {
  opacity:1.0;
    
  }

 
  .box {
    width: 100px;
    height: 100px;
    position: relative;
    background-color: red;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;  
  }
  
  @keyframes example {
    0%   {background-color: red; left:0px; top:0px;}
    25%  {background-color: blue; left:0px; top:200px;}
    50%  {background-color: green; left:200px; top:200px;}
    75%  {background-color: yellow; left:200px; top:0px;}
    100% {background-color: red; left:0px; top:0px;}
  }